<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title>True Founder News</title>
    <link rel="stylesheet" type="text/css"  media="screen, projection" href="/static/css/stylesheet.css" />
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css/fuckmsie.css">
    <![endif]-->
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
  </head>
  <body>
    <div id="menubar">
        <div id="logo"><a href="/"><img src="/static/images/true.png"\></a></div><div id="navmenu"><a href="/">True Founder News</a> | <a href="/newest">new</a> | <a href="/post">post</a> | {% if user %}<a href="{{ logout }}">logout</a> | {{ user }} ({{ usermeta.points }}){% else %}<a href="{{ login }}">login</a>{% endif %}</div>
    </div>
    <div id="content">
    {% block body %}{% endblock %}
    </div>
    <div id="footer">You can fork this site <a href="http://github.com/kordless/true-hackers">on Github</a>.  Risk. Learn.  Live.</div>
    <script type="text/javascript">
      $('.vote a').click(function() {
          var me = $(this);
          $.get(me.attr('href'), function(points) {
              if (points) {
                if (/item/.test(window.location)) {
                  me.next('.comment-points').html(points+' points');
                } else {
                  me.closest('tr').next('tr').find('.post-points').html(points+' points');
                }
              }
          });
          return false;
      });
    </script>
  </body>
</html>
