{% extends 'base.html' %}
{% block body %}
    <form action="/post" method="post">
        <label>Title</label><br>
        <input class="text" type="text" name="title" value="{{ data.title }}" /><br>
        <label>Url</label><br>
        <input class="text" type="text" name="url" value="{{ data.url }}" /><br>
        <label>Question / comment</label><br>
        <textarea class="text" name="text">{{ data.text }}</textarea><br>
        <input type="hidden" name="id" value="{{ id }}" />
        <button type="submit">post</button>
    </form>
{% endblock %}
